:root {
    --color-primary: #2E2F42;
    --color-secondary: #434455;
    --color-brand: #4D5AE5;
    --color-invert: #FFFFFF;
    --color-main-background: #2E2F42;
    --color-secondary-background: #F4F4FD;
    --color-secondary-light-background: #FFFFFF;
    --color-active: #404BBF;
    --color-bounder: #E7E9FC;
    --color-footer-text-invert: #E7E9FC;
    --color-footer-logo-invert: #F4F4FD;
}
body {
    color: var(--color-secondary);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: calc(24/16);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.logo {
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--color-brand);
}
.logo-dark {
    color: var(--color-primary);
}
.logo-invert {
    color: var(--color-footer-logo-invert);
}
.header-link-studio,
.header-link-portfolio,
.header-link-contacts {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-email,
.header-tel {
    color: var(--color-secondary);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-email:hover,
.header-link-studio:hover,
.header-link-portfolio:hover,
.header-link-contacts:hover {
    color: var(--color-active);
}
.header-email:focus,
.header-link-studio:focus,
.header-link-portfolio:focus,
.header-link-contacts:focus {
    color: var(--color-active);
}
.header-contacts {
    font-style: normal;
}
.main-section {
    background-color: var(--color-main-background);
}
.main-title {
    color: var(--color-invert);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.main-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: var(--color-brand);
    color: var(--color-invert);
    border: none;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    cursor: pointer;
}
.main-btn:hover {
    background-color: var(--color-active);
}
.list-item-title {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}
.section-features-title,
.section-we-doing-title,
.section-team-title {
    color: var(--color-primary);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
.features-text,
.team-text {
    letter-spacing: 0.02em;
}
.footer-box {
    background-color: var(--color-main-background);
}
.footer-text {
    color: var(--color-footer-text-invert);
    letter-spacing: 0.02em;
}

/* Portfolio */
.portfolio-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: var(--color-secondary-background);
    color: var(--color-brand);
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    border: 1px solid var(--color-bounder);
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-btn:hover {
    background-color: var(--color-active);
    border: 1px solid transparent;
    color: var(--color-invert);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-link-title {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.list-link-text {
    color: var(--color-primary);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}